<div style="background-color: #524f61
; text-align:center; height:200px; border: 2px solid white; border-radius: 25px;">
	<nav class="navbar navbar-dark primary-color" style="padding:24px">
	      <a class="navbar-brand" href="#">
	        <img src="{{url_for('static', filename='images/kitten.png')}}" height="30" alt="mdb logo">
	      </a>

	      <h3 style="color:white; font-family: verdana;
  			font-size: 150%;">Exploding Kitten 2.0</h3>
          <p style="color:white; font-family: verdana;">Created by Kapil Shrivas &copyCopyright 2021</p>
	</nav>
</div>