
{% include 'includes/header.html' %}


<body>

<h1> hello {{ players["playerName"] }}! See your cards</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class=flashes style="text-align:center;">
    {% for category, message in messages %}
      <h3 class="{{ category }}">{{ message }}</h3>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}


<div class="row" >
    {% if "rainbow" in players["cards"] %}
    <div class="column">
		{% set c = players["cards"].count("rainbow") | int %}
		<div>
			<img src="{{url_for('static', filename='images/rainbow.png')}}">
			<h4>{{c}}</h4>
		</div>
   </div>
   	{% endif %}

   	{% if "doremon" in players["cards"] %}
   <div class="column">
		{% set c = players["cards"].count("doremon") | int %}
			<div>
				<img src="{{url_for('static', filename='images/doremon.png')}}">
				<h4>{{c}}</h4>
			</div>
   </div>
   {% endif %}

   {% if "pikachu" in players["cards"] %}
   <div class="column">
		{% set c = players["cards"].count("pikachu") | int %}
			<div>
				<img src="{{url_for('static', filename='images/pikachu.png')}}">
				<h4>{{c}}</h4>
			</div>
  </div>
  {% endif %}

  {% if "nope" in players["cards"] %}
  <div class="column">
		{% set c = players["cards"].count("nope") | int %}
			<div>
				<img src="{{url_for('static', filename='images/nope.png')}}">
				<h4>{{c}}</h4>
			</div>  	
  </div>
  {% endif %}

  {% if "see the future" in players["cards"] %}
  <div class="column" >
		{% set c = players["cards"].count("see the future") | int %}
			<div>
				<img src="{{url_for('static', filename='images/see.png')}}">
				<h4>{{c}}</h4>
			</div>
  </div>
  {% endif %}


  {% if "shuffle" in players["cards"] %}
  <div class="column">
		{% set c = players["cards"].count("shuffle") | int %}
			<div>
				<img src="{{url_for('static', filename='images/shuffle.png')}}">
				<h4>{{c}}</h4>
			</div>
  </div>
  {% endif %}

  {% if "attack" in players["cards"] %}
  <div class="column" >
		{% set c = players["cards"].count("attack") | int %}
			<div>
				<img src="{{url_for('static', filename='images/attack.png')}}">
				<h4>{{c}}</h4>
			</div>
  </div>
  {% endif %}


  {% if "favor" in players["cards"] %}
  <div class="column">
		{% set c = players["cards"].count("favor") | int %}
			<div>
				<img src="{{url_for('static', filename='images/favor.png')}}">
				<h4>{{c}}</h4>
			</div>
  </div>
  {% endif %}

  {% if "defuse" in players["cards"] %}
  <div class="column">
		{% set c = players["cards"].count("defuse") | int %}
			<div>
				<img src="{{url_for('static', filename='images/defuse.png')}}">
				<h4>{{c}}</h4>
			</div>
  </div>
  {% endif %}


  {% if "skip" in players["cards"] %}
  <div class="column">
		{% set c = players["cards"].count("skip") | int %}
			<div>
				<img src="{{url_for('static', filename='images/skip.png')}}">
				<h4>{{c}}</h4>
			</div>
  </div>
  {% endif %}
</div>

{% if not waiting %}
	<form action="dashboard">
		<div>
			<select name="myDroppedCard">
				{% for i in players["cards"] %}
				<option><h2>{{i}}</h2></option>
				{% endfor %}
			</select>
		</div>
		<div>
			<button type="submit" name="submit_btn" value="submit_0"> Pick Cards </button>
	    	<button type="submit" name="submit_btn" value="submit_1"> Drop Cards </button>
		</div>
	</form>

{% else %}

	<div>
		<select>
			{% for i in players["cards"] %}
			<option><h2>{{i}}</h2></option>
			{% endfor %}
		</select>
	</div>
 
 	<h1> You have to wait {{ players["playerName"] }} !!</h1>


 	<form action="dashboard">
 		<button type="submit" name="refresh" value="refresh">Refresh</button>
 	</form>
{% endif %}

</body>

{% include 'includes/footer.html' %}


